# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
src/*

# Configuration files
app/config/parameters.ini
composer.phar

# OS Files
.DS_Store
.Project