# Bootstrap
airos/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
src/*
bin/*

# Configuration files
airos/config/parameters.ini
web/bundles/
airos/bootstrap.php.cache
airos/cache/*
airos/logs/*
build/
vendor
composer.phar
composer.lock

# OS/IDE Files
.DS_Store
.Project
.buildpath
.c9*
