# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
src/*
bin/*

# Configuration files
app/config/parameters.ini
composer.phar
composer.lock

# OS Files
.DS_Store
.Project